<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="en">
<head>
<meta charset="UTF-8">
<title wicket:id="pageTitle"></title>
<link rel="stylesheet" href="resources/base.css" />

<link rel="stylesheet" type="text/css"
	href="resources/css/kendo/kendo.common.min.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="resources/css/kendo/kendo.default.min.css" media="all" />

<script src="resources/js/kendo.culture.de.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Header/Login -->
	<header>
		<div style="width: 1000px; margin: 0 auto;">
			<div
				style="margin-left: 2%; float: left; font-size: 1.4em; line-height: 60px; height: 60px;">
				<a href="./" style="text-decoration: none; color: #336699">Operations
					Manager</a>
			</div>
			<div id="error_login" wicket:id="authentication_failure"
				style="height: 30px; width: 200px; line-height: 30px; background-color: #fff; border: 1px solid #c0c0c0; 
				color: red; position: absolute; z-index: 5; text-align: center; box-shadow: 0px 2px 3px #aaa; border-radius: 5px; font-size: 0.8em;">
			</div>
			<form wicket:id="loginForm">
				<div style="display: table; margin: 15px 2% 0 0; float: right;">

					<div style="display: table-cell;">
						<input type="text" class="login" id="usernamefield" wicket:id="username"
							name="username" style="margin-right: 10px;" value="Username"
							placeholder="Username" required="required" />
					</div>
					<div style="display: table-cell;">
						<input type="password" class="login" wicket:id="password"
							name="password" style="margin-right: 10px;" value="Password"
							placeholder="Passwort" required="required" />
					</div>
					<div style="display: table-cell;">
						<input type="submit" class="login" value="Login" />
					</div>

				</div>
			</form>
			<form wicket:id="logoutForm">
				<div style="display: table; margin: 15px 2% 0 0; float: right;">

					<div style="display: table-cell;">
						<span wicket:id="wloginrole" style="margin-right: 10px;"></span>
					</div>
					<div style="display: table-cell;">
						<input type="submit" class="login" value="Logout" />
					</div>

				</div>
			</form>
		</div>
	</header>

	<div id="mainContent">
		<div id="wrapper">
			<div id="banner">
				<div
					style="float: right; margin: 50px 20px 0 0; font-family: Open Sans;">
					<span
						style="font-size: 1.8em; font-weight: 700; float: right; color: white;">Transparente
						OP-Wartelisten</span><br />
					<p
						style="color: white; font-size: 1.2em; width: 300px; float: right;">Jetzt
						eintragen und ein passender OP-Slot wird für Sie ermittelt und
						reserviert!</p>
				</div>
			</div>
			<wicket:child />

			<script type="text/javascript">
				function getOffsetTop(element) {
					var y = 0;
					tmp = element;
					if (tmp.offsetParent) {
						do {
							y += tmp.offsetTop;
						} while (tmp = tmp.offsetParent);
					}
					y += element.offsetHeight;
					return y;
				}

				function getOffsetLeft(element) {
					var x = 0;
					tmp = element;
					if (tmp.offsetParent) {
						do {
							x += tmp.offsetLeft;
						} while (tmp = tmp.offsetParent);
					}
					return x;
				}
				
				document.getElementById("error_login").style.left = getOffsetLeft(document.getElementById("usernamefield")) + "px";
				document.getElementById("error_login").style.top = (getOffsetTop(document.getElementById("usernamefield")) + 10) + "px";
			</script>

		</div>
	</div>


</body>
</html>