<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd" 
      lang="en">
<head>
<meta charset="UTF-8">
<title wicket:id="pageTitle"></title>
<link rel="stylesheet" href="resources/base.css" />

<link rel="stylesheet" type="text/css" href="resources/css/kendo/kendo.common.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="resources/css/kendo/kendo.default.min.css" media="all" />

<script src="resources/js/kendo.culture.de.min.js"></script>

<script src="resources/utils.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Header/Login -->
<header>
	<div style="margin-left: 10%; float: left; font-size: 1.4em; line-height: 60px; height: 60px;">
		<a href="./" style="text-decoration: none; color: #336699">Operations Manager</a>
	</div>
	
	<form wicket:id="loginForm">
		<div style="display: table; margin: 15px 10% 0 0; float: right;">
			<div style="table-row">
				<div style="display: table-cell;"><input type="text" class="login" wicket:id="wusername" name="username" style="margin-right: 10px;" value="Username" onclick="clearField(this)" onblur="restoreDefaultIfEmpty(this, 'Username')" /></div>
				<div style="display: table-cell;"><input type="password" class="login" wicket:id="wpassword" name="password" style="margin-right: 10px;" value="Password"  onclick="clearField(this)" onblur="restoreDefaultIfEmpty(this, 'Password')" /></div>
				<div style="display: table-cell;"><input type="submit" class="login" value="Login" /></div>
			</div>
		</div>
	</form>
	<form wicket:id="logoutForm">
		<div style="display: table; margin: 15px 10% 0 0; float: right;">
			<div style="table-row">
				<div style="display: table-cell;"><span wicket:id="wloginrole" style="margin-right: 10px;"></span></div>
				<div style="display: table-cell;"><input type="submit" class="login" value="Logout" /></div>
			</div>
		</div>
	</form>	
</header>

<div id="mainContent">
	<wicket:child />
</div>


</body>
</html>